.container {
  display: flex;
  padding: var(--spacing-xs) var(--spacing-2xl);
  background-color: var(--color-primary);
  box-shadow: var(--drop-shadow-default);
  z-index: 5;
}

.add-button {
  margin-left: var(--spacing-xs);
  max-height: 3rem;
  aspect-ratio: 1 / 1;
  background-color: white;
  border: var(--border-default);
  border-radius: var(--border-radius-default);
}

.add-button:disabled > * {
  filter: opacity(20%);
}

@media screen and (min-width: 960px) {
  .container {
    padding: var(--spacing-default) var(--spacing-2xl);
  }
}
