.container {
  display: flex;
  padding: 0.5rem 2rem;
  background-color: #fce800;
  box-shadow: 0 0 14px rgb(0 0 0 / 20%);
  z-index: 5;
}

.add-button {
  margin-left: 0.5rem;
  max-height: 3rem;
  aspect-ratio: 1 / 1;
  background-color: white;
  border: 0.125rem solid black;
  border-radius: 100%;
}

.add-button:disabled > * {
  filter: opacity(20%);
}

@media screen and (min-width: 960px) {
  .container {
    padding: 1rem 2rem;
  }
}
