.main-container {
  padding: 2rem;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  min-height: 0;
}

.list-container {
  margin: 1rem 0 0 0;
  padding: 0rem;
  overflow: auto;
}
