.index-page {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  height: 100vh;
}

.main-container {
  position: relative;
  flex-grow: 1;
  min-height: 0;
  overflow-x: hidden;
}

@media screen and (min-width: 960px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr 20rem;
  }
}
