.index-page {
  display: flex;
  flex-direction: column;
  background-color: var(--color-surface);
  height: 100vh;
}

.main-container {
  position: relative;
  flex-grow: 1;
  min-height: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.share-widget {
  position: absolute;
  bottom: var(--spacing-xl);
  left: var(--spacing-xl);
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media screen and (min-width: 960px) {
  .main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
