.input {
  flex: 1;
  min-width: 0;
  border: none;
  border-radius: var(--border-radius-default);
  padding: var(--spacing-xs) var(--spacing-default);
  font-size: var(--text-base);
  font-family: var(--font-default);
  background-color: var(--color-background);
}

.input:focus,
.input:active {
  outline-style: inset;
}

@media screen and (min-width: 720px) {
  .input {
    font-size: var(--spacing-l);
  }
}
