.tick {
  width: var(--spacing-3xl);
  height: var(--spacing-3xl);
  background-color: var(--color-button-background);
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}

.tick-shadow {
  filter: drop-shadow(var(--drop-shadow-strong));
  width: var(--spacing-3xl);
  height: var(--spacing-3xl);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: var(--spacing-xs);
}
