.import-modal-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-default);
}

.import-textarea {
  min-height: 10rem;
}

.import-button-wrapper {
  display: flex;
  justify-content: end;
}

.import-button {
  padding: var(--spacing-xs);
  background-color: var(--color-background-light);
  border: var(--border-default);
  border-radius: var(--border-radius-default);
}

.import-button:hover {
  background-color: var(--color-button-background-hover);
  cursor: pointer;
}
