.spinner {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-background);
  filter: drop-shadow(var(--drop-shadow-strong));
}
