.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 5rem;
  width: 5rem;
  background-color: var(--color-background-light);
  border-radius: 50%;
  border: var(--border-default);
  filter: drop-shadow(var(--drop-shadow-strong));
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: var(--spacing-xl);
  font-family: var(--font-default);
}

.button:hover:not(:disabled) {
  background-color: var(--color-button-background-hover);
}

.button:disabled {
  color: var(--color-button-text-disabled);
}
