.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 5rem;
  width: 5rem;
  padding: .75rem;
  background-color: var(--color-button-light);
  border-radius: 50%;
  border: none;
  filter: drop-shadow(var(--drop-shadow-strong));
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: var(--spacing-xl);
  font-family: var(--font-default);
}

.button:disabled > * {
  filter: opacity(20%);
}

.button:hover:not(:disabled) {
  background-color: var(--color-button-light-hover);
  cursor: pointer;
}
