.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-2xs);
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
}

.icon {
  height: 100%;
  width: 100%;
}
