.container {
  background-color: var(--color-background-dark);
  display: flex;
  padding: var(--spacing-xs) var(--spacing-3xl);
  z-index: 5;
  gap: var(--spacing-default);
  box-shadow: var(--drop-shadow-default);
}

.footer-button {
  padding: var(--spacing-xs);
  background-color: var(--color-button-primary);
  border: none;
  border-radius: var(--border-radius-default);
  flex: 1;
  box-shadow: var(--button-shadow-default);
}

.footer-button:hover {
  background-color: var(--color-button-primary-hover);
  cursor: pointer;
}
