.container {
  background-color: #83777B;
  display: flex;
  padding: 0.5rem 2rem;
  box-shadow: 0 0 14px rgb(0 0 0 / 20%);
  z-index: 5;
  gap: 1rem;
}

.footer-button {
  background-color: red;
  flex: 1;
}