.container {
  padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) var(--spacing-default);
  background-color: var(--color-background);
  border: var(--border-default);
  border-radius: var(--border-radius-default);
  margin-top: var(--spacing-xs);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-size: var(--text-base);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.is-done {
  text-decoration: line-through;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xs);
}

.button {
  height: var(--spacing-2xl);
  width: var(--spacing-2xl);
  border: none;
  border-radius: var(--border-radius-small);
  background-color: var(--color-button-primary);
  box-shadow: var(--button-shadow-default);
}

.button:hover {
  background-color: var(--color-button-primary-hover);
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .label {
    font-size: var(--text-xl);
  }
}

@media (hover: hover) {
  .button {
    visibility: hidden;
  }

  .container:hover .button {
    visibility: visible;
  }
}
