.container {
  padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) var(--spacing-default);
  background-color: var(--color-background-light);
  border: var(--border-default);
  border-radius: var(--border-radius-default);
  margin-top: var(--spacing-xs);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-size: var(--spacing-default);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.delete-button {
  height: var(--spacing-2xl);
  width: var(--spacing-2xl);
  border: var(--border-default);
  border-radius: var(--border-radius-default);
  background-color: var(--color-button-background);
}

.delete-button:hover {
  background-color: var(--color-button-background-hover);
}

@media screen and (min-width: 720px) {
  .label {
    font-size: var(--spacing-l);
  }
}

@media (hover: hover) {
  .delete-button {
    visibility: hidden;
  }

  .container:hover .delete-button {
    visibility: visible;
  }
}
