.container {
  max-height: 40rem;
  max-width: 40rem;
  flex-grow: 1;
  overflow: hidden;
  padding: var(--spacing-l);
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.placeholder {
  text-align: center;
  font-size: var(--text-4xl);
  font-weight: bold;
}
