.container {
  max-height: 40rem;
  max-width: 40rem;
  flex-grow: 1;
  overflow: hidden;
  padding: 1.25rem;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.placeholder {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}