.header {
  padding: var(--spacing-default);
  background-color: #fff;
  box-shadow: 0 0 14px rgb(0 0 0 / 20%);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-title-wrapper {
  display: flex;
  flex-direction: row;
}

.header-logo {
  height: 3.125rem;
}

.header-title {
  margin: var(--spacing-xs) var(--spacing-default);
  color: var(--color-font-dark);
  font-size: var(--spacing-xl);
  font-family: var(--font-default);
  user-select: none;
}

.menu-button-wrapper {
  height: 3rem;
  width: 3rem;
  position: relative;
}

.sidebar-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  background-color: transparent;
  transition: all .3s ease-in-out;
}

.hidden {
  transform: translateX(50%);
  opacity: 0;
  scale: 0;
}

.display-sidebar {
  transform: none;
}

@media screen and (min-width: 960px) {
  .sidebar-toggle {
    display: none !important;
  }

  .logo-title-wrapper {
    margin-left: var(--spacing-s);
  }
}
