.container {
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 10rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-size: 1rem;
}

.delete-button {
  visibility: hidden;
}

.container:hover .delete-button {
  visibility: visible;
}