.tick {
  width: 2rem;
  height: 2rem;
  background-color: #bbbbbb;
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}

.tick-shadow {
  filter: drop-shadow(0rem 0rem 0.125rem rgb(0 0 0 / 0.4));
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 0.5rem;
}