.sidebar {
  background-color: var(--color-background);
  z-index: 4;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  max-width: 25rem;
  box-shadow: var(--drop-shadow-default);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  right: 0;
  transition: max-width .3s, transform .3s;
}

.sidebar[hidden] {
  max-width: 0;
  overflow: hidden;
}

@media screen and (min-width: 960px) {
  .sidebar {
    position: static;
    transform: none;
  }
}
