.container {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  background-color: #fff;
  border: 0.125rem solid black;
  border-radius: 10rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-size: 1rem;
  padding-top: 0.25rem;
}

.delete-button {
  height: 1.75rem;
  width: 1.75rem;
  visibility: hidden;
}

.container:hover .delete-button {
  visibility: visible;
}

@media screen and (min-width: 720px) {
  .label {
    font-size: 1.25rem;
  }
}