:root {
  --font-default: "AdelleSans Light";
  --font-medium: "AdelleSans";
  --color-primary: #fce800;
  --color-primary-variant: #fff377;
  --color-secondary: #99e6ff;
  --color-secondary-variant: #ccf2ff;
  --color-background: #fff;
  --color-background-dark: #61595b;
  --color-surface: #f6f6f6;
  --color-surface-dark: #353132;
  --color-button-light: var(--color-background);
  --color-button-light-hover: var(--color-surface);
  --color-button-primary: var(--color-primary);
  --color-button-primary-hover: var(--color-primary-variant);
  --color-button-text-disabled: #a2a2a2;
  --color-font-dark: #000;
  --spacing-2xs: .25rem;
  --spacing-xs: .5rem;
  --spacing-s: .75rem;
  --spacing-default: 1rem;
  --spacing-l: 1.25rem;
  --spacing-xl: 1.5rem;
  --spacing-2xl: 1.75rem;
  --spacing-3xl: 2rem;
  --spacing-4xl: 2.25rem;
  --spacing-5xl: 2.5rem;
  --text-sm: .875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --drop-shadow-default: 0 0 14px rgb(0 0 0 / 20%);
  --drop-shadow-strong: 0 0 2px rgb(0 0 0 / 40%);
  --border-default: 1px solid black;
  --border-primary: 1px solid var(--color-primary);
  --border-radius-default: 16px;
  --border-radius-small: 5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "AdelleSans Light";
  src: url("/AdelleSans-Light.woff");
}

@font-face {
  font-family: AdelleSans;
  src: url("/AdelleSans-Regular.woff");
}

body {
  margin: 0;
  font-family: var(--font-default);
}
