*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0rem;
  font-family: "Source Sans Pro", sans-serif;
}

.header {
  background-color: #fce800;
  padding: 0.5rem;
}

.header-title {
  margin: 0rem;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 1280px) {
  #app {
    grid-template-columns: 2fr 1fr;
  }
}
