*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "AdelleSans Light";
  src: url(/AdelleSans_Light.otf);
}
@font-face {
  font-family: "AdelleSans SemiBold";
  src: url(/AdelleSans_SemiBold.otf);
}

body {
  margin: 0rem;
  font-family: "AdelleSans Light";
  background-color: #f6f6f6;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #fff;
  padding: 0.5rem;
  box-shadow: 0 0 14px rgb(0 0 0 / 20%);
  z-index: 10;

  display: flex;
  justify-content: start;
  align-items: center;
}

.header-logo {
  height: 3.125rem;
}

.header-title {
  margin: 0.5rem 1rem 0rem 1rem;
  color: #5f575a;
  font-size: 1.5rem;
  font-family: "AdelleSans Light";
  user-select: none;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  flex-grow: 1;
  min-height: 0;
}

@media screen and (min-width: 960px) {
  #app {
    grid-template-columns: 2fr 1fr;
  }
}

#spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sidebar {
  display: flex;
  flex-direction: column;
  min-height: 0;
}
