#wheel-container {
  height: 200px;
  width: 200px;
  background-color: gray;
  overflow: hidden;
}

.wheel {
  height: 200px;
  width: 200px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  transition: 2s;
}

.wheel-segment {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: blue;
  display: flex;
  justify-content: end;
  align-items: center;
}

.wheel-label {
  margin-right: 20px;
}

