.archive-modal-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-3xl);
}

.column {
}

.header {
}

.list-container {
  height: 20rem;
  padding: var(--spacing-default);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: visible;
  gap: var(--spacing-xs);
  border: black 2px dashed;
  border-radius: var(--border-radius-default);
}

.entry {
  background-color: white;
  border: var(--border-default);
  border-radius: var(--border-radius-default);
  padding: var(--spacing-2xs) var(--spacing-xs);
  cursor: grab;
  touch-action: none;
  user-select: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-height: var(--spacing-3xl);
}
