.segment {
  position: absolute;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.label {
  margin-right: 1.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  padding-top: 0.25rem;
  text-align: center;
  /* Remaining space - half of the spin button - margin right */
  width: calc(50% - 3rem - 1.5rem);
}

@media screen and (min-width: 720px) {
  .label {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1280px) {
  .label {
    font-size: 1.75rem;
  }
}
