.segment {
  position: absolute;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.label {
  margin-right: 2.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 0.25rem;
}

@media screen and (min-width: 720px) {
  .label {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1280px) {
  .label {
    font-size: 2rem;
  }
}
