.container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, .4);
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: white;
  border-radius: var(--border-radius-default);
  min-width: 20rem;
  max-width: 40rem;
  padding: var(--spacing-default);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.close-icon {
  border: none;
  background-color: white;
  height: var(--spacing-5xl);
  width: var(--spacing-5xl);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  margin: 0;
}